@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.heading{
  text-align: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin-top: 100px;
  border: 2px solid #d8d8d8;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

input {
  height: 40px;
  margin-bottom: 20px;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

textarea {
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

label{
  font-size: 13px;
}

.button{
  background-color: rgb(65, 65, 65);
  cursor: pointer;
  color: white;
}